* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #5D2500;
    position: relative;
    color: #F5E6CA;
    text-align: center;
    padding: 1rem;
    box-shadow: none;
    border-bottom: none;
    text-decoration: none;
    width: 100%;
}

.about #banner,
.order #banner{
    height: 15rem;
}

hr {
    border-color: #a67b5b;
    ;
}

#welcome {
    background-color: #5D2500;
    font-size: 1rem;
    color: #F5E6CA;
    text-align: center;
    width: 100%;
    padding: 1rem;
    padding-top: 0rem;
}

.navBar {
    background: #3e2723;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 1000;
    box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
    color: #F5E6CA;
    z-index: 10001;
}

.navigation {
    color: #F5E6CA;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.navigation:hover {
    background: #a67b5b;
    border-radius: 0.4rem;
}

.imgBanner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    position: relative;
    transition: transform 0.3s ease;
}

br {
    display: none;
}

.home a[href="#bottomPage"] {
    top: 12.5rem;
}
a[href="#bottomPage"] {
    text-decoration: none;
    font-family: "BeVietnam", sans-serif;
    position: absolute;
    top: 10rem;
    left: 0.75rem;
    background-color: #F5E6CA;
    color: #5D2500;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a[href="#bottomPage"]:hover {
    color: #767B64;
}

.coffee {
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    text-align: center;
}


.coffee ol {
    padding: 0.2rem;
    text-align: left;
    margin: auto 0;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.coffee ol li {
    width: 90%;
    margin: auto;
    padding: 0.2rem;
    margin-top: 0%;
}

.coffee:has(h2, ol)+.coffee+.coffee img {
    margin-top: 1rem;
    width: 30%;
    height: auto;
    object-fit: cover;
    float: left;
    object-position: center;
    position: relative;
    transition: transform 0.3s ease;
}



.coffee img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    transition: transform 0.3s ease;
}

.coffee img:hover {
    transform: scale(1.05);
}

.coffee h2 {
    font-family: "BeVietnamMedium", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
    padding: 2rem;
    margin: 1rem auto 0;
    width: 100%;
    background-color: #5D2500;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    color: #F5E6CA;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
}

.coffee:has(h2, ol)+.coffee p.definition {
    font-family: "BeVietnam", sans-serif;
        font-size: 1rem;
        float: right;
        line-height: 1.6;
        padding: 1.5rem;
        margin: 1rem 0;
        text-align: center;
        width: 65%;
        vertical-align: top;
        background-color: #5D2500;
        box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
        color: #F5E6CA;
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
}

.coffee:has(table)+.coffee p.definition,
.coffee p.definition {
    font-family: "BeVietnam", sans-serif;
    font-size: 1rem;
    /* float: right; */
    line-height: 1.6;
    padding: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    vertical-align: top;
    background-color: #5D2500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #F5E6CA;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
}

.coffee #bottomPage {
    position: relative;
    display: block;
    font-family: "BeVietnam", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    padding: 1.5rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    background-color: #5D2500;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    color: #F5E6CA;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    clear: both;
    overflow: hidden;
}

.coffee .emphasis {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: #C4A981;
}

.coffee .term {
    font-style: italic;
    color: #C4A981;
}

.coffee+a {
    text-decoration: none
}

#orderCoffee {
    position: relative;
    display: block;
    width: fit-content;
    transform: none;
    background-color: #F5E6CA;
    color: #5D2500;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    font-family: "BeVietnam", sans-serif;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

#orderCoffee:hover {
    background-color: #767B64;
    color: #371601;
}

a[href="#title"] {
    text-decoration: none;
    font-family: "BeVietnam", sans-serif;
    position: fixed;
    bottom: -0.75rem;
    left: 0.75rem;
    background-color: #F5E6CA;
    color: #5D2500;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a[href="#title"]:hover {
    color: #767B64;
}

footer {
    background-color: #5D2500;
    color: #F5E6CA;
    text-align: center;
    padding: 1rem;
    font-family: "BeVietnam", sans-serif;
}

.contacts {
    font-size: 0.6rem;
}

footer div br {
    display: block;
}

#tagline {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #5D2500;
    background-color: #F5E6CA;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 0.75rem;
    box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.1);
}

#coffee_choices {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#coffee_choices .coffeeTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #5D2500;
    background-color: #F5E6CA;
    padding: 0.75rem;
    border-radius: 0.4rem;
}
/* 
.coffeeImg {
    width: 6rem !important;
    height: 8rem !important;
    border: 2px solid #8B4513;
    border-radius: 10px;
    padding: 5px;
} */

.coffeeImg,
.teamMember {
    width: 10rem !important;
    height: 15rem !important;
    border: 0.1rem solid #8B4513;
    border-radius: 0.75rem;
    padding: 0.4rem;
}

td {
    width: 14%;
    border: 0.1rem solid #8B4513;
    /* padding: 0.75rem; */
    justify-content: center;
    justify-items: center;
}

.label {
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #f8e5d8;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.coffee form {
    margin-top: 1rem;
    justify-self: center;
    background-color: #f8e5d8;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0.3rem 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
    width: 60%;
    margin-bottom: 1rem;
}

.coffee form label {
    font-weight: bold;
    color: #5A3E36;
    display: block;
    margin-bottom: 0.3rem;
}

.coffee form input[type="text"],
.coffee form input[type="email"],
.coffee form select {
    width: 100%;
    padding: 0.5rem;
    border: 0.2rem solid #8B4513;
    border-radius: 0.3rem;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.coffee form select {
    cursor: pointer;
    background-color: #F5E6CA;
}

.coffee form input[type="submit"] {
    background-color: #8B4513;
    color: #F5E6CA;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.coffee form input[type="submit"]:hover {
    background-color: #5A3E36;
}

.coffee:has(img[src="Images/Logo.jpg"]) {
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
}

img[src="Images/Logo.jpg"] {
        margin-top: 0;
        margin-right: 1rem;
        width: 6rem !important;
        height: 6rem !important;
        object-fit: cover;
        float: left;
        object-position: center;
        position: relative;
        border-radius: 100%;
        border: 0.5rem solid #5D2500;
        transition: transform 0.3s ease;
}

img[src="Images/Logo.jpg"]+.definition {
    font-family: "BeVietnam", sans-serif;
        font-size: 1rem;
        float: right;
        line-height: 1.6;
        padding: 1.5rem;
        margin: 1rem 0;
        text-align: center;
        width: 90%;
        vertical-align: top;
        background-color: #5D2500;
        box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
        color: #F5E6CA;
        border-radius: 1rem 1rem 1rem 1rem;
        box-shadow: 0px 0.3rem 0.75rem rgba(0, 0, 0, 0.2);
}

.about ul,
.about ol{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.about li {
    list-style-type: none;
}

.about .coffeeVideo{
    width: 100%;
    height: 25rem;
}

.coffee:has(#about) table {
    width: 100%;
    text-align: center;
    background-color: #F5E6CA;
}

.coffee:has(p:nth-of-type(2)) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.coffee:has(p:nth-of-type(2)) img {
    max-width: 30%;
    height: auto;
    border-radius: 0.5rem;
}